@import 'https://fonts.googleapis.com/css?family=Sanchez';

.brand-name {
  font-family: 'Sanchez', serif;
  font-size: 30px;
  font-weight: 600;
}

body {
  color: black;
  background-image: url('https://source.unsplash.com/category/nature/1400x950');
  /*images/van-background.jpeg*/
}

.container {
  background-color: transparent;
  opacity: .95;
}

.jumbotron {
  background-color: white;
  opacity: 1;
}

#todo-jumbotron {
  margin-top: 10px;
  height: 335px;
  margin-bottom: 15px;
  background-color: transparent;
}

.card {
  margin-top: -15px;
  margin-left: -10px;
  background-color: whitesmoke;
  opacity: 1;
}

.register-button {
  margin-top: 15px;
}

#login {
  margin-top: 32px;
}

.register-button button {
  background: #000;
  margin-top: 10px;
  background: -moz-linear-gradient(-45deg,#000 0,#062a64 100%);
  background: -webkit-linear-gradient(-45deg,#000 0,#062a64 100%);
  background: linear-gradient(135deg,#000 0,#062a64 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#062a64', GradientType=1 );
  border-radius: 5px;
  color: white;
}

.register-button button:hover {
  color: #1B988C;
}

.blue-gradient {
  background: #000;
  background: -moz-linear-gradient(-45deg,#000 0,#062a64 100%);
  background: -webkit-linear-gradient(-45deg,#000 0,#062a64 100%);
  background: linear-gradient(135deg,#000 0,#062a64 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#062a64', GradientType=1 );
}

.blue-gradient h3 {
  text-align: center;
  color: white;
  margin-top: -45px;
  padding: 5px 20px 5px 20px;
  margin-bottom: 20px;
}

.vertical-center {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar {
  padding-top: 15px;
  opacity: .9;
}

.navbar .navbar-brand {
  padding-top: 10px;
}

.navbar > * {
  width: 100%;
}

#fast-link a:hover {
  background-color: white;
  opacity: .9;
  color: black;
}

.sign-up-icon {
  width: 100%;
}

.md-form i::before {
  width: 10px;
}

.sign-in {
  margin-left: 10px;
  padding-bottom: 0;
}

.quick-link-text {
  margin-top: 15px;
}

.active-selection {
  background-color: white;
}

#sidebar {
  margin-top: 19px;
}

.disabled {
  cursor: not-allowed;
}

.list-group-item {
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 12px;
  width: 60px;
}

.list-group-item.active {
  border-radius: 5px;
  background-color: #0E2B5C;
}

.list-group-item:first-child {
  border-radius: 5px;
}

.bottom-jumbotron {
  padding: 15px !important;
  margin-bottom: 0;
  min-height: 130px;
}

.weather-info {
  text-align: center;
  margin-left: 23px;
}

.weather-info h4 {
  text-align: center;
}

.icon i {
  margin-top: 15px;
}

.weather-city {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 5px 0 0 5px;
  margin: -15px 0;
  padding: 40px 20px 42px 12px;
}

.weather-summary {
  white-space: nowrap;
}

.news-title {
  font-weight: bold;
}

.news-extras {
  float: right;
  margin-top: -10px;
}

.uber-text {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

.uber-logo {
  width: 85%;
  margin-left: 2px;
  margin-bottom: 5px;
}

.mobileview {
  display: none;
}

.mobileview-text {
  display: none;
}

@media screen and (max-width: 1200px) {
  .weather-text {
    margin-left: -20px;
  }
}

@media screen and (max-width: 1007px) {
  .normalView {
    display: none;
  }

  .mobileview-text {
    display: block;
  }

  .mobileview {
    display: block;
    margin-top: 30%;
    text-align: center;
  }
}
